{% extends "manage_teachers/view_teachers.layout.html" %}

<!-- Horizontal navigation -->
{% block horizontal_nav %} 
   <!-- Teacher management utilities -->
   <div class="container d-flex links align-items-center">
      <a href="">
         <div class="d-flex link__width sub--link--active">
            <i class="material-icons">visibility</i>
            <span class="">View teachers</span>
         </div>
      </a>
      <a href="{{ url_for('admin_bp.add_teacher') }}">
         <div class="d-flex link__width">
            <i class="material-icons">person_add</i>
            <span>Add teacher</span>
         </div>
      </a>
      <a href="{{ url_for('admin_bp.assign_teacher_roles') }}">
         <div class="d-flex link__width">
            <i class="material-icons">assignment_ind</i>
            <span class="">Manage Teachers</span>
         </div>
      </a>
      <a href="{{ url_for('admin_bp.update_profile') }}">
         <div class="d-flex link__width">
            <i class="material-icons">security_update_good</i>
            <span class="">Update profile</span>
         </div>
      </a>
   </div> 
{% endblock horizontal_nav %}

<!-- Main content area -->
{% block main_content %}
 <div class="container-fluid">
   <div class="accordion-item bg-white p-2 shadow-sm">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" 
        type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          <h6 class="fw-light p-1">Display Options</h6>
          <i class="bi bi-chevron-down mx-2"></i>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body bg-white p-2">
            <a href="{{ url_for('admin_bp.view_teachers') }}" style="text-decoration: none;">
               <button class="btn btn-danger btn-sm">
                  <i class="fa fa-print"></i> Print View
               </button>
            </a>
            <a href="{{ url_for('admin_bp.teachers_classic_view') }}" class="mx-2">
               <button class="btn btn-secondary btn-sm">
                  <i class="fa fa-eye" aria-hidden="true"></i> Detailed View
               </button>
            </a>
        </div>
      </div>
    </div>
 </div>
<div class="w-100 shadow-sm p-3 bg-white mt-3">
 {% block display%}
   <div class="table-responsive">
      <div class="d-flex justify-content-end">
         <button class="btn btn-danger btn-sm">
            <a href="" class="a-style"></a>
               <span><i class="fas fa-print mx-2"></i>Print</span>
            </a>
         </button>
         <button class="btn btn-success text-white btn-sm mx-2">
            <a href="" class="a-style">
               <span><i class="fas fa-download mx-2"></i>Download PDF</span>
            </a>
         </button>
      </div>
      <table class="table table-sm table table-bordered table-hover">
         <caption style="caption-side: top;">
            <small>Total Number of Teachers {{ teachers | length() }} </small>
         </caption>
         <thead>
            <tr>
               <th style="width: 7px">S/N</th>
               <th style="width: 90px">Teacher Name</th> 
               <th style="width: 60px">Phone</th>
               <th style="width: 100px">Email</th>
               <th style="width: 100px">TSC No</th>
            </tr>
         </thead>
         <tbody>
            {% for teacher in teachers %}
               <tr>
                  <td style="width: 7px;">{{ loop.index }}</td>
                  <td style="width: 90px">{{ teacher.teacher_name }}</td> 
                  <td style="width: 60px">{{ teacher.phone_no }}</td>
                  <td style="width: 100px">{{ teacher.email | default('--', True) }}</td>
                  <td style="width: 100px">{{ teacher.tsc_no | default('--', True) }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
 {% endblock display%}
</div>
<!-- Footer -->
<div class="line-with-text mt-4">
   <small class="text-muted">Acadex &copy;2024 Developed by Oyaro Jared</small>
</div>
{% endblock main_content %}